{% extends "::base.html.twig" %}

{% block body %}
    <h1>Créer une page</h1>
    {% form_theme form 'EkologiaMainBundle:Form:form-horizontal_4-8.html.twig' %}
    {{ form_start(form, {'action': formAction, 'method': 'POST', 'attr': {'id': 'form-registration'} }) }}
        {{ form_errors(form) }}
        
        {% if form.offsetExists('parentId') %}
            {{ form_row(form.parentId) }}
        {% endif %}
        
        {{ form_row(form.version.title) }}
        
        <div class="hidden">{{ form_row(form.tags) }}</div>
        {% if form.offsetExists('deletable') %}
            {{ form_row(form.deletable) }}
        {% endif %}
        {{ form_row(form.version.active) }}
        {{ form_row(form.visibility) }}
        
        {{ form_row(form.version.content) }}
        {{ form_row(form.version.css) }}
        {{ form_row(form.version.js) }}
        
        {{ form_row(form.save) }}
    {{ form_end(form) }}
    
    <a href="{{ path('ekologia_cms_list') }}" class="btn btn-default">{{ 'ekologia.cms.page.form.returntolist'|trans }}</a>
{% endblock body %}
