{% extends "::base.html.twig" %}

{% if is_granted('ROLE_READER') and app.request.get('version') == 'last' %}
    {% set currentVersion = article.currentVersion(false) %}
{% else %}
    {% set currentVersion = article.currentVersion(true) %}
{% endif %}

{% block stylesheets %}
    <style>
        {{ currentVersion.css|raw }}
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        {{ currentVersion.js|raw }}
    </script>
{% endblock %}

{% block breadcrumb %}
    <div id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Ekologia</a></li>
                
                {% for element in article.pathToArticle %}
                    <li {% if loop.last %}class="active"{% endif %}>
                        <a href="{{ path('ekologia_cms_page_read', {'canonical': element.canonical}) }}">
                            {{ element.currentVersion.title }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
    <h1>{{ currentVersion.title }}</h1>
    
    <div>
        {{ currentVersion.content|raw|nl2br }}
    </div>
{% endblock body %}
