<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Prototype - Accueil</title>
        <meta charset="utf-8" />
         {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" media="all" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="all" />
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/helper.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="logo col-sm-2">
                        <a href="{{ path('homepage') }}"></a>
                    </div>

                    <div class="menu col-sm-8">
                        <ul class="row list-unstyled">
                            <li class="col-sm-3"><a href="#">Groupes</a></li>
                            <li class="col-sm-3"><a href="#">La communauté</a></li>
                            <li class="col-sm-3"><a href="#">Administration</a></li>
                            <li class="col-sm-3"><a href="#">Page 1</a></li>
                            <li class="col-sm-3"><a href="#">Page 2</a></li>
                            <li class="col-sm-3"><a href="#">Page 3</a></li>
                            <li class="col-sm-3"><a href="#">Page 4</a></li>
                            <li class="col-sm-3"><a href="#">Autre page</a></li>
                            <li class="col-sm-3"><a href="#">Lien X</a></li>
                            <li class="col-sm-3"><a href="#">Lien Y</a></li>
                        </ul>
                    </div>

                    <div class="user-block col-sm-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Mon compte
                            </div>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li><a href="#" class="disabled">Informations</a></li>
                                        <li><a href="#" class="disabled">Mes groupes</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                                        <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        {{ render(controller("EkologiaMenuBundle:View:root")) }}
                    </div>
                    <div class="col-sm-4">
                        <form method="post" action="#" class="form-inline">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                                <input type="text" name="search" class="form-control" placeholder="Recherche" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% block breadcrumb %}{% endblock %}

        <div id="body">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default">Groupes</button>
                    <button type="button" class="btn btn-default">Contacter les administrateurs du site</button>
                    <button type="button" class="btn btn-default">Contacts</button>
                    <button type="button" class="btn btn-default">Informations légales</button>
                </div>
            </div>
        </div>
    </body>
</html>