{% extends '::base.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block body %}
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="row">
        <div class="col-sm-8">
            <div class="content">
                <h1>{{ page.currentVersion.title }}</h1>
                <p>{{ page.currentVersion.content }}</p>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h2>{{ 'ekologia.main.index.facebook.page'|trans }}</h2>
                    <div class="fb-like-box" data-href="https://www.facebook.com/pages/Ekologia/274611082672069?fref=ts" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
                </div>
                <div class="col-sm-6">
                    <h2>{{ 'ekologia.main.index.facebook.group'|trans }}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="btn-group">
                <a href="#" class="btn btn-default">{{ 'ekologia.main.index.donation'|trans }}</a>
                <a href="{{ path('fos_user_registration_register', {'type': 'p'}) }}" class="btn btn-default">{{ 'ekologia.main.index.register.puser'|trans }}</a>
            </div>

            <div class="aside">
                <h4>{{ 'ekologia.main.index.member.cuser'|trans }}</h4>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('img/vignette-rouge.png') }}" alt="Vignette rouge" />
                            <div class="caption">Vignette rouge</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('img/vignette-bleue.png') }}" alt="Vignette rouge" />
                            <div class="caption">Vignette bleue</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('img/vignette-bleue.png') }}" alt="Vignette rouge" />
                            <div class="caption">Vignette bleue 2</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('img/vignette-rouge.png') }}" alt="Vignette rouge" />
                            <div class="caption">Vignette rouge 2</div>
                        </a>
                    </div>
                </div>

                <a href="{{ path('fos_user_registration_register', {'type': 'c'}) }}" class="btn btn-default">{{ 'ekologia.main.index.register.cuser'|trans }}</a>
            </div>

            <div class="aside">
                <h4>{{ 'ekologia.main.index.member.partner'|trans }}</h4>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('img/vignette-rouge.png') }}" alt="Vignette rouge" />
                            <div class="caption">Vignette rouge</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('img/vignette-bleue.png') }}" alt="Vignette rouge" />
                            <div class="caption">Vignette bleue</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('img/vignette-bleue.png') }}" alt="Vignette rouge" />
                            <div class="caption">Vignette bleue 2</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('img/vignette-rouge.png') }}" alt="Vignette rouge" />
                            <div class="caption">Vignette rouge 2</div>
                        </a>
                    </div>
                </div>

                <a href="#" class="btn btn-default">{{ 'ekologia.main.index.member.becomepartner'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}