{% extends "::base.html.twig" %}

{% block breadcrumb %}
    <div id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Ekologia</a></li>
                <li><a href="{{ path('ekologia_cms_list') }}">{{ 'ekologia.cms.list.title'|trans }}</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
    <h1>{{ 'ekologia.cms.list.title'|trans }}</h1>
    
    <div>
        <ul>
            {% include 'EkologiaCMSBundle:List:treePage.html.twig' with {'pages': pages} %}
        </ul>
    </div>
    
    <a href="{{ path('ekologia_cms_page_create') }}" class="btn btn-default">{{ 'ekologia.cms.list.create'|trans }}</a>
{% endblock body %}
